$primary: hsl(352, 94%, 64%);
$warn: hsl(32, 100%, 45%);

.button {
  &--primary {
    background-color: $primary;
    color: #fff;
  }

  &--secondary {
    color: $primary;
    border: 2px solid $primary;
    background-color: #fff;
  }

  &--tertiary {
    color: $primary;
    background-color: #fff;
  }

  &--tertiary:hover {
    text-decoration: underline;
  }
}

.form {
  &__input {
    outline: none;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    padding: 10px 15px;
    font-size: initial;
  }
  &__validation {
    font-size: 0.9rem;
    margin-bottom: 0.625rem;
    color: $warn;
  }
  &__label {
    font-size: 0.9rem;
    margin-bottom: 0.625rem;
  }
  &__field-msg {
    font-size: 0.9rem;
    color: $warn;
    margin-top: 0.25rem;
  }
  &__radio {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    input:checked ~ .form__radio-checkmark {
      background-color: hsl(202, 50, 15);
    }

    input:checked ~ .form__radio-checkmark:after {
      display: block;
    }

    &-checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    &-checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 1.25rem;
      width: 1.25rem;
      background-color: hsl(202, 20, 90);
      border-radius: 50%;
    }

    &:hover .form__radio-checkmark {
      background-color: hsl(202, 10, 80);
    }
  }
}

.text--link {
  color: hsl(230, 80, 65);
}
